/*
---------------------
variables
---------------------
*/
:root{
    --color0: #741981;
    --color1: #9e0b7b;
    --color2: #c20a70;
    --color3: #de2361;
    --color4: #f24250;
    --color5: #ff633c;
    --color6: #ff8525;
    --color7: #ffa600;
}
/*
---------------------
login
---------------------
*/
.btn-color{
    width: 40px;
    height: 40px;
    margin: 10px;
    cursor:pointer;
    display:inline-block;
    background-color: #8993b8;
    border: 1px #000000;
    border-style:solid;
    border-radius:20px;
}

#vicinitybutton {
    white-space: nowrap;
    margin-right: 0.4em;
    margin-top: .1em;
    font-size: 1.1em;
    text-align: left;
    width: auto;
}
.vicinity-container {
    height: calc(var(--vh, 1vh) * 100 - 56px);
    position: relative;
    background: rgba(255, 255, 0, 0.91);
}
.user-v {
    position: absolute;
    width:100px;
    height: 100px;
    border-radius:50px;
    border-style:solid;
    border-color:#000;
    border-width:10px;
    cursor: grabbing;
    background-color:#00FFFF;
    padding:20px;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    top:20px;
    left:0;
}
.user-v:hover{
    border-color:#DDD;
}
[draggable=true] {
    cursor: move;
}

@media only screen and (max-device-width: 1024px) {

    .vicinity-container {
        position: fixed;
        height: calc(var(--vh, 1vh) * 100 - 56px);
        top: 56px;
        right: 0;
        left: 0;
        margin-bottom: 60px;
    }
}

.color0::before{
    color:var(--color0) !important;
}
.color1::before{
     color:var(--color1) !important;
}
.color2::before{
    color:var(--color2) !important;
}
.color3::before{
    color:var(--color3) !important;
}
.color4::before{
    color:var(--color4) !important;
}
.color5::before{
    color:var(--color5) !important;
}
.color6::before{
    color:var(--color6) !important;
}
.color7::before{
    color:var(--color7) !important;
}