/*
---------------------
variables
---------------------
*/
:root{
    --color0: #741981;
    --color1: #9e0b7b;
    --color2: #c20a70;
    --color3: #de2361;
    --color4: #f24250;
    --color5: #ff633c;
    --color6: #ff8525;
    --color7: #ffa600;
}
/*
---------------------
login
---------------------
*/
.btn-color{
    width: 40px;
    height: 40px;
    margin: 10px;
    cursor:pointer;
    display:inline-block;
    background-color: #8993b8;
    border: 1px #000000;
    border-style:solid;
    border-radius:20px;
}

#vicinitybutton {
    white-space: nowrap;
    margin-right: 0.4em;
    margin-top: .1em;
    font-size: 1.1em;
    text-align: left;
    width: auto;
}
.vicinity-container {
    height: calc(var(--vh, 1vh) * 100 - 56px);
    position: relative;
    /*background: rgba(255, 255, 0, 0.91);*/
    background-image:url('./imgs/trame.png');
}
.user-v {
    position: absolute;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    top:20px;
    left:0;
    width:200px;
    cursor:grab;
}
.user-v .circle{
    width:50px;
    height: 50px;
    border-radius:25px;
    border-style:solid;
    border-color:#DDD;
    border-width:5px;
    cursor: grabbing;
    background-color:#00FFFF;
    margin:0 auto;
    pointer-events: none;
    text-align:center;

    padding-top: 5px;
    color:#FFFFFF;
}
.user-v .texte{
    font-size:0.8em;
    min-width:100%;
    text-align:center;
    pointer-events: none;
}
[draggable=true] {
    cursor: move;
}

@media only screen and (max-device-width: 1024px) {

    .vicinity-container {
        position: fixed;
        height: calc(var(--vh, 1vh) * 100 - 56px);
        top: 56px;
        right: 0;
        left: 0;
        margin-bottom: 60px;
    }
}

.color0::before{
    color:var(--color0) !important;
}
.color1::before{
     color:var(--color1) !important;
}
.color2::before{
    color:var(--color2) !important;
}
.color3::before{
    color:var(--color3) !important;
}
.color4::before{
    color:var(--color4) !important;
}
.color5::before{
    color:var(--color5) !important;
}
.color6::before{
    color:var(--color6) !important;
}
.color7::before{
    color:var(--color7) !important;
}


.sas{
    position:absolute;
    top:0;
    left:0;
    width:70px;
    bottom:0;
    border-left-style:dashed;
    border-right-style:dashed;
    border-color:#000;
    background-color:rgb(240,240,240);
}
.you{
    position:absolute;
    top:68px;
    left:0;
    width:68px;
    height:95px;
    border-bottom-style:dashed;
    border-color:#000;
    font-size: 0.7em;
    padding-left: 5px;
}
.disabled-v{
    position:absolute;
    top:0;
    left:0;
    width:68px;
    height:68px;
    border-color:#000;
    border-right-style:dashed;
    border-bottom-style:dashed;
    background-color:#DDD;
}
.your-media{
    position:absolute;
    top:170px;
    left:0;
    width:68px;
    border-color:#000;
    font-size: 0.7em;
    padding-left: 5px;
}
.bullhornslash{
    position: absolute;
    background-image: url(./imgs/slash.png);
    background-repeat: no-repeat;
    width: 40px;
    height: 30px;
    top: 1px;
    left: 8px;
    transform: scale(0);/* pour les tests */
    background-size: contain;
}
#list-users-v{
    position:absolute;
    top:0;
    left:0;
}
#list-media-v{
    position:absolute;
    top:0;
    left:0;
}
.v-peer{
    z-index: 1;
    width: 200px;
    height:60px;
    position: absolute;
    top: 220px;
    left: 140px;
    text-align: center;
    border: unset;

    background: url(./imgs/mask10.png);
    background-repeat: no-repeat;
    background-position: 70px 0px;
}
.v-peer .media{
    padding-bottom:unset;
    border-radius:50px;
    pointer-events:none;
    width: 40px;
    height: 40px;
    margin: 5px auto;
}
.v-peer .video-controls{
    display:none;
}
.v-peer .label{
    color:#000;
    font-size: 0.8em;
    pointer-events:none;
}
.v-eye{
    position:absolute;
    top:-6px;
    left:45%;
    cursor:pointer;
    z-index:3;
}
#grey-backgrd{
    background-color:rgba(0,0,0,0.8);
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;

    z-index: 3;
    display:none;
}
.front-over{
    z-index:4;
    margin: 20px 100px;
}
#grey-backgrd .closebtn {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 30px;
    height: 56px;
    color: #FFFFFF;
    font-size:2em;
}